.git
/target/tmp
/target/release*
/target/debug
/target/x86_64-unknown-linux-musl/release*/build
/target/x86_64-unknown-linux-musl/release*/deps
/target/x86_64-unknown-linux-musl/release*/incremental
!/target/x86_64-unknown-linux-musl/release*/examples/
!/target/release*/examples/
!/target/release*/benchmark_client
Dockerfile*
