**/target
**/result
**/out*.txt
**/out*.json
**/.idea
/*.pdf
**/target_dirs
/target_dirs
/.vscode/settings.json
**/.DS_Store
*.cache
**/.direnv
**/*.bkp
*.sqlite
**/results.csv
.github/workflows/preserve-build-and-test-self-hosted.yml
.github/workflows/preserve-build-and-test.yml
config/ValidatorConfigOutput
scripts/aws_ecs_nginx_benchmarks.sh
scripts/preserve_ci_ecs_benchmarks.sh
