[package]
authors = ["Nathan McCarty <nathan.mccarty@translucence.net>"]
description = "HotShot consesus module"
edition = "2021"
name = "hotshot"
readme = "README.md"
version = "0.1.1"
rust-version = "1.63.0"

[features]
default = ["demo", "docs", "doc-images", "full-ci"]

# Enable demo/testing logic
demo = ["blake3", "hotshot-types/demo", "libp2p/rsa"]
# Build the extended documentation

docs = []
doc-images = []
full-ci = [
        "async-std-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-async-std",
]
tokio-ci = [
        "tokio-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-tokio",
]
profiling = ["hotshot-utils/profiling"]
hotshot-testing = []

async-std-executor = [
        "dep:async-std",
        "async-tungstenite/async-std-runtime",
        "hotshot-centralized-server/async-std-executor",
        "hotshot-consensus/async-std-executor",
        "hotshot-types/async-std-executor",
        "hotshot-utils/async-std-executor",
        "libp2p-networking/async-std-executor",
]
tokio-executor = [
        "dep:tokio",
        "async-tungstenite/tokio-runtime",
        "hotshot-centralized-server/tokio-executor",
        "hotshot-consensus/tokio-executor",
        "hotshot-types/tokio-executor",
        "hotshot-utils/tokio-executor",
        "libp2p-networking/tokio-executor",
]

channel-flume = [
        "hotshot-centralized-server/channel-flume",
        "hotshot-consensus/channel-flume",
        "hotshot-types/channel-flume",
        "hotshot-utils/channel-flume",
]
channel-tokio = [
        "hotshot-centralized-server/channel-tokio",
        "hotshot-consensus/channel-tokio",
        "hotshot-types/channel-tokio",
        "hotshot-utils/channel-tokio",
]
channel-async-std = [
        "hotshot-centralized-server/channel-async-std",
        "hotshot-consensus/channel-async-std",
        "hotshot-types/channel-async-std",
        "hotshot-utils/channel-async-std",
]

[[example]]
name = "dentry-simulator"
required-features = ["demo", "async-std-executor"]

[[example]]
name = "multi-machine-libp2p"
required-features = ["demo", "libp2p/rsa"]

[dependencies]
ark-ec = { version = "0.3.0" }
ark-bls12-381 = { version = "0.3.0" }
async-lock = "2.5"
async-std = { version = "1.12", optional = true }
async-trait = "0.1.57"
async-tungstenite = "0.17.2"
atomic_store = { git = "https://github.com/EspressoSystems/atomicstore", tag = "0.1.3" }
bimap = "0.6.2"
bincode = "1.3.3"
blake3 = { version = "1.1.0", optional = true }
cfg-if = "1"
commit = { git = "https://github.com/EspressoSystems/commit", tag = "0.2.0" }
custom_debug = "0.5"
dashmap = "5.3.4"
embed-doc-image = "0.1.4"
futures = "0.3.24"
hotshot-centralized-server = { version = "0.1.1", path = "centralized_server", default-features = false }
hotshot-consensus = { path = "./consensus", version = "0.1.0", default-features = false }
hotshot-types = { path = "./types", version = "0.1.0", default-features = false }
hotshot-utils = { path = "./utils", version = "0.1.0", default-features = false, features = [
        "logging-utils",
] }
itertools = "0.10"
jf-primitives = { git = "https://github.com/EspressoSystems/jellyfish", tag = "0.1.2", features = [
        "std",
] }
libp2p-networking = { path = "./libp2p-networking", version = "0.1.0", default-features = false }
libp2p = { version = "0.48.0", default-features = false, features = [
        "autonat",
        "deflate",
        "floodsub",
        "identify",
        "kad",
        "gossipsub",
        "mplex",
        "noise",
        "ping",
        "plaintext",
        "pnet",
        "relay",
        "request-response",
        "rendezvous",
        "secp256k1",
        "serde",
        "uds",
        "wasm-ext",
        "websocket",
        "yamux",
] }
rand = "0.8.5"
rand_chacha = "0.3.1"
serde = { version = "1.0.145", features = ["derive", "rc"] }
snafu = "0.7.2"
tempfile = "3.3.0"
time = "0.3.15"
tokio = { version = "1", optional = true, features = [
        "fs",
        "io-util",
        "io-std",
        "macros",
        "net",
        "parking_lot",
        "process",
        "rt",
        "rt-multi-thread",
        "signal",
        "sync",
        "time",
        "tracing",
] }
tracing = "0.1.37"
tracing-unwrap = "0.9.2"

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
clap = { version = "4.0", features = ["derive", "env"] }
rand_xoshiro = "0.6.0"
toml = "0.5.8"

### Profiles
###
### Note: these only apply to example executables or tests built from within this crate. They have
### no effect on crates that depend on this crate.

## Apply some optimizations to test dependencies in debug/test builds

# Generally optimize dependencies a little
[profile.dev.package."*"]
opt-level = 1

[package.metadata.docs.rs]
# docs.rs uses a nightly compiler, so by instructing it to use our `doc-images` feature we
# ensure that it will render any images that we may have in inner attribute documentation.
features = ["doc-images"]

## Enable LTO for release profile
[profile.release]
debug = 1
lto = "thin"
incremental = true

## LTO doesn't work with careful
## explicitly specifying features in case releases features change
[profile.careful]
debug = 1
inherits = "release"
lto = "off"
incremental = true

### Workspace

# The hotshot-types crate needs to be a seperate crate, as to not create a circular dependency
# when implementing traits externally
[workspace]

members = [
        "centralized_server",
        "centralized_server/orchestrator",
        "centralized_server/benchmark_client",
        "consensus",
        "libp2p-networking",
        "testing",
        "types",
        "utils",
]
