[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
description = "HotShot consesus module"
edition = "2021"
name = "hotshot"
readme = "README.md"
version = "0.3.3"
rust-version = "1.65.0"

[features]
default = ["demo", "docs", "doc-images"]

# Enable demo/testing logic
demo = ["dep:blake3", "hotshot-types/demo", "libp2p/rsa", "dep:derivative"]

# Features required for binaries
bin-orchestrator = ["toml", "clap"]

# Build the extended documentation
docs = []
doc-images = []
full-ci = [
        "async-std-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-async-std",
]
tokio-ci = [
        "tokio-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-tokio",
]
profiling = ["async-compatibility-layer/profiling"]
hotshot-testing = []

async-std-executor = [
        "dep:async-std",
        "hotshot-centralized-server/async-std-executor",
        "hotshot-consensus/async-std-executor",
        "hotshot-types/async-std-executor",
        "async-compatibility-layer/async-std-executor",
        "libp2p-networking/async-std-executor",
]
tokio-executor = [
        "dep:tokio",
        "hotshot-centralized-server/tokio-executor",
        "hotshot-consensus/tokio-executor",
        "hotshot-types/tokio-executor",
        "async-compatibility-layer/tokio-executor",
        "libp2p-networking/tokio-executor",
]

channel-flume = [
        "hotshot-centralized-server/channel-flume",
        "hotshot-web-server/channel-flume",
        "hotshot-consensus/channel-flume",
        "hotshot-types/channel-flume",
        "async-compatibility-layer/channel-flume",
]
channel-tokio = [
        "hotshot-centralized-server/channel-tokio",
        "hotshot-web-server/channel-tokio",
        "hotshot-consensus/channel-tokio",
        "hotshot-types/channel-tokio",
        "async-compatibility-layer/channel-tokio",
]
channel-async-std = [
        "hotshot-centralized-server/channel-async-std",
        "hotshot-web-server/channel-async-std",
        "hotshot-consensus/channel-async-std",
        "hotshot-types/channel-async-std",
        "async-compatibility-layer/channel-async-std",
]

[[example]]
name = "libp2p-validator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/libp2p/validator.rs"

[[example]]
name = "libp2p-orchestrator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/libp2p/orchestrator.rs"

[[example]]
name = "web-server-orchestrator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server/orchestrator.rs"

[[example]]
name = "web-server"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server/web-server.rs"

[[example]]
name = "web-server-validator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server/validator.rs"

[dependencies]
ark-ec = { version = "0.3.0" }
ark-bls12-381 = { version = "0.3.0" }
# TODO ED We should upgrade other ark libraries accordingly with the one below
ark-ed-on-bls12-381 = "0.4.0"
ark-serialize = { version = "0.3.0", features = ["derive"] }
ark-std = { version = "0.4.0" }
async-compatibility-layer = { git = "https://github.com/EspressoSystems/async-compatibility-layer.git", tag = "1.2.0", default-features = false, features = [ "logging-utils" ] }
async-lock = "2.7"
async-std = { version = "1.12", optional = true }
async-trait = "0.1.69"
bimap = "0.6.3"
bincode = "1.3.3"
blake3 = { version = "1.3.3", optional = true, features = ["traits-preview"] }
clap = { version = "4.3", features = ["derive", "env"], optional = true }
commit = { git = "https://github.com/EspressoSystems/commit", tag = "0.2.2" }
custom_debug = "0.5"
dashmap = "5.3.4"
derivative = { version = "2.2.0", optional = true }
digest = "0.10.7"
either = { version = "1.8.1", features = [ "serde" ] }
embed-doc-image = "0.1.4"
espresso-systems-common = { git = "https://github.com/espressosystems/espresso-systems-common", tag = "0.4.1" }
futures = "0.3.28"
hotshot-centralized-server = { version = "0.1.1", path = "centralized_server", default-features = false }
hotshot-web-server = { version = "0.1.1", path = "web_server", default-features = false }
hotshot-consensus = { path = "./consensus", version = "0.1.0", default-features = false }
hotshot-orchestrator = { version = "0.1.1", path = "orchestrator", default-features = false }
hotshot-types = { path = "./types", version = "0.1.0", default-features = false }
hotshot-utils = { path = "./utils" }
itertools = "0.11"
jf-primitives = { git = "https://github.com/EspressoSystems/jellyfish", rev = "36dceb6", features = [
        "std",
] }
libp2p-swarm-derive = { version = "=0.32.0" }
libp2p-networking = { path = "./libp2p-networking", version = "0.1.0", default-features = false }
libp2p-identity = "0.1.2"
libp2p = { version = "0.51.3", default-features = false, features = [
        "macros",
        "autonat",
        "deflate",
        "floodsub",
        "identify",
        "kad",
        "gossipsub",
        "mplex",
        "noise",
        "ping",
        "plaintext",
        "pnet",
        "relay",
        "request-response",
        "rendezvous",
        "secp256k1",
        "serde",
        "uds",
        "wasm-ext",
        "websocket",
        "yamux",
] }
nll = { git = "https://github.com/EspressoSystems/nll.git" }
num = "0.4.0"
rand = "0.8.5"
rand_chacha = "0.3.1"
serde = { version = "1.0.163", features = ["derive", "rc"] }
snafu = "0.7.4"
surf-disco = { git = "https://github.com/EspressoSystems/surf-disco.git", branch = "main" }
time = "0.3.21"
toml = { version = "0.7.5", optional = true }
tokio = { version = "1", optional = true, features = [
        "fs",
        "io-util",
        "io-std",
        "macros",
        "net",
        "parking_lot",
        "process",
        "rt",
        "rt-multi-thread",
        "signal",
        "sync",
        "time",
        "tracing",
] }
tracing = "0.1.37"

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
clap = { version = "4.3", features = ["derive", "env"] }
serde_json = "1.0.99"
sha2 = { version = "0.10.7" }
toml = "0.7.5"

### Profiles
###
### Note: these only apply to example executables or tests built from within this crate. They have
### no effect on crates that depend on this crate.

## Apply some optimizations to test dependencies in debug/test builds

# Generally optimize dependencies a little
[profile.dev.package."*"]
opt-level = 1

[package.metadata.docs.rs]
# docs.rs uses a nightly compiler, so by instructing it to use our `doc-images` feature we
# ensure that it will render any images that we may have in inner attribute documentation.
features = ["doc-images"]

# The default release profile without LTO.
[profile.release]
debug = 1
# Disable LTO to decrease the linking time.
lto = "off"
incremental = true

# The release profile with LTO.
# CI uses this profile. To run it locally, add `--profile=release-lto` to `cargo build` or `cargo
# test`.
[profile.release-lto]
inherits = "release"
# Enable "thin" LTO to optimize performance.
lto = "thin"

## LTO doesn't work with careful
## explicitly specifying features in case releases features change
[profile.careful]
debug = 1
inherits = "release"
lto = "off"
incremental = true

### Workspace

# The hotshot-types crate needs to be a seperate crate, as to not create a circular dependency
# when implementing traits externally
[workspace]

members = [
        "centralized_server",
        "centralized_server/benchmark_client",
        "consensus",
        "libp2p-networking",
        "testing",
        "types",
        "utils",
        "testing-macros",
        "task",
]