[package]
authors = ["Nathan McCarty <nathan.mccarty@translucence.net>"]
description = "PhaseLock consesus module"
edition = "2021"
name = "phaselock"
readme = "README.md"
version = "0.0.6-dev"

[features]
default = ["demo", "docs"]
# Enable demo/testing logic
demo = ["blake3"]
# Enable insecure testing only mock cryptography
test_crypto = ["threshold_crypto/use-insecure-test-only-mock-crypto"]
# Build the extended documentation
docs = []

[[example]]
name = "dentry-simulator"
required-features = ["demo"]

[dependencies]
ark-ec = { version = "0.3.0", default-features = false }
ark-ed-on-bls12-381 = { version = "0.3.0", default-features = false }
async-std = { version = "1.10.0", features = ["unstable"] }
async-tungstenite = { version = "0.16.1", features = ["async-std-runtime"] }
bincode = "1.3.3"
blake3 = { version = "1.1.0", optional = true }
byteorder = "1.4.3"
dashmap = "5.1.0"
flume = "0.10.10"
futures = "0.3.21"
hex_fmt = "0.3.0"
# jf-primitives = { features=["std"], git = "ssh://git@gitlab.com/translucence/crypto/jellyfish.git", rev = "3faf4400a7ae67de18400051f57afe8e4fb6d4de"}
rand = "0.7.3"
rand_chacha = "0.2.2"
serde = { version = "1.0.136", features = ["derive", "rc"] }
snafu = { version = "0.7.0", features = ["backtraces"] }
threshold_crypto = "0.4.0"
tracing = "0.1.30"
tracing-error = "0.2.0"
tracing-futures = "0.2.5"
tracing-unwrap = "0.9.2"

[dev-dependencies]
async-std = { version = "1.10.0", features = ["attributes"] }
proptest = "1.0.0"
rand_xoshiro = "0.4.0"
structopt = "0.3.26"
toml = "0.5.8"
tracing-subscriber = { version = "0.3.8", features = ["env-filter", "json"] }

### Profiles
###
### Note: these only apply to example executables or tests built from within this crate. They have
### no effect on crates that depend on this crate.

## Apply some optimizations to test dependencies in debug/test builds

# Generally optimize dependencies a little
[profile.dev.package."*"]
opt-level = 1

# Optimize tc a lot
[profile.dev.package.threshold_crypto]
opt-level = 3

## Enable LTO for release profile
[profile.release]
lto = "thin"
