[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
description = "HotShot consesus module"
edition = "2021"
name = "hotshot"
readme = "README.md"
version = "0.3.3"
rust-version = "1.65.0"

[workspace.package]
version = "0.3.3"                                         # same as `hotshot`, but workspace subcrate can also release its own version
authors = ["Espresso Systems <hello@espressosys.com>"]
edition = "2021"
rust-version = "1.65.0"
homepage = "https://github.com/EspressoSystems/HotShot"
documentation = "https://hotshot.docs.espressosys.com"
repository = "https://github.com/EspressoSystems/HotShot"

[features]
default = ["demo", "docs", "doc-images"]

# Enable demo/testing logic
demo = [
        "hotshot-types/demo",
        "hotshot-signature-key/demo",
        "libp2p/rsa",
        "dep:derivative",
]

# Features required for binaries
bin-orchestrator = ["clap"]

# Build the extended documentation
docs = []
doc-images = []
full-ci = [
        "async-std-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-async-std",
]
tokio-ci = [
        "tokio-executor",
        "demo",
        "docs",
        "doc-images",
        "hotshot-testing",
        "channel-tokio",
]
profiling = ["async-compatibility-layer/profiling"]
hotshot-testing = []

async-std-executor = [
        "dep:async-std",
        "hotshot-consensus/async-std-executor",
        "hotshot-types/async-std-executor",
        "hotshot-task/async-std-executor",
        "hotshot-task-impls/async-std-executor",
        "async-compatibility-layer/async-std-executor",
        "libp2p-networking/async-std-executor",
]
tokio-executor = [
        "dep:tokio",
        "hotshot-consensus/tokio-executor",
        "hotshot-types/tokio-executor",
        "hotshot-task/tokio-executor",
        "hotshot-task-impls/tokio-executor",
        "async-compatibility-layer/tokio-executor",
        "libp2p-networking/tokio-executor",
]

channel-flume = [
        "hotshot-web-server/channel-flume",
        "hotshot-consensus/channel-flume",
        "hotshot-types/channel-flume",
        "hotshot-task/channel-flume",
        "hotshot-task-impls/channel-flume",
        "async-compatibility-layer/channel-flume",
]
channel-tokio = [
        "hotshot-web-server/channel-tokio",
        "hotshot-consensus/channel-tokio",
        "hotshot-types/channel-tokio",
        "hotshot-task/channel-tokio",
        "hotshot-task-impls/channel-tokio",
        "async-compatibility-layer/channel-tokio",
]
channel-async-std = [
        "hotshot-web-server/channel-async-std",
        "hotshot-consensus/channel-async-std",
        "hotshot-types/channel-async-std",
        "hotshot-task/channel-async-std",
        "hotshot-task-impls/channel-async-std",
        "async-compatibility-layer/channel-async-std",
]

# [[example]]
# name = "libp2p-validator"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/libp2p/validator.rs"
#
# [[example]]
# name = "libp2p-orchestrator"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/libp2p/orchestrator.rs"
#
# [[example]]
# name = "web-server-orchestrator"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/web-server/orchestrator.rs"
#
# [[example]]
# name = "web-server-validator"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/web-server/validator.rs"

[[example]]
name = "web-server"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server-da/web-server.rs"

[[example]]
name = "web-server-da-orchestrator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server-da/orchestrator.rs"

[[example]]
name = "web-server-da-validator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server-da/validator.rs"

[[example]]
name = "multi-validator"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server-da/multi-validator.rs"

[[example]]
name = "multi-web-server"
required-features = ["demo", "libp2p/rsa"]
path = "examples/web-server-da/multi-web-server.rs"

[dependencies]
# TODO ED We should upgrade ark libraries to 0.4
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
async-std = { version = "1.12", optional = true }
async-trait = { workspace = true }
bimap = "0.6.3"
bincode = { workspace = true }
bitvec = { workspace = true }
clap = { version = "4.4", features = ["derive", "env"], optional = true }
commit = { workspace = true }
custom_debug = { workspace = true }
dashmap = "5.5.1"
derivative = { version = "2.2.0", optional = true }
either = { workspace = true }
embed-doc-image = "0.1.4"
espresso-systems-common = { workspace = true }
ethereum-types = { workspace = true }
futures = { workspace = true }
hotshot-web-server = { version = "0.1.1", path = "web_server", default-features = false }
hotshot-consensus = { path = "./consensus", version = "0.1.0", default-features = false }
hotshot-orchestrator = { version = "0.1.1", path = "orchestrator", default-features = false }
hotshot-signature-key = { path = "./crates/hotshot-signature-key" }
hotshot-types = { path = "./types", version = "0.1.0", default-features = false }
hotshot-utils = { path = "./utils" }
hotshot-task = { path = "./task", version = "0.1.0", default-features = false }
hotshot-task-impls = { path = "./task-impls", version = "0.1.0", default-features = false }
libp2p = { workspace = true, features = [
        "macros",
        "autonat",
        "deflate",
        "floodsub",
        "identify",
        "kad",
        "gossipsub",
        "ping",
        "plaintext",
        "pnet",
        "relay",
        "request-response",
        "rendezvous",
        "secp256k1",
        "serde",
        "uds",
        "wasm-ext",
        "websocket",
        "yamux",
] }
libp2p-identity = { workspace = true }
libp2p-networking = { workspace = true }
nll = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
serde = { workspace = true, features = ["rc"] }
snafu = { workspace = true }
surf-disco = { workspace = true }
time = { workspace = true }
tokio = { version = "1", optional = true, features = [
        "fs",
        "io-util",
        "io-std",
        "macros",
        "net",
        "parking_lot",
        "process",
        "rt",
        "rt-multi-thread",
        "signal",
        "sync",
        "time",
        "tracing",
] }

tracing = { workspace = true }
typenum = { workspace = true }

[dev-dependencies]
async-std = { version = "1.12.0", features = ["attributes"] }
blake3 = { workspace = true }
clap = { version = "4.4", features = ["derive", "env"] }
serde_json = "1.0.105"
toml = { workspace = true }

### Profiles
###
### Note: these only apply to example executables or tests built from within this crate. They have
### no effect on crates that depend on this crate.

## Apply some optimizations to test dependencies in debug/test builds

# Generally optimize dependencies a little
[profile.dev.package."*"]
opt-level = 1

[package.metadata.docs.rs]
# docs.rs uses a nightly compiler, so by instructing it to use our `doc-images` feature we
# ensure that it will render any images that we may have in inner attribute documentation.
features = ["doc-images"]

# The default release profile without LTO.
[profile.release]
debug = 1
# Disable LTO to decrease the linking time.
lto = "off"
incremental = true

# The release profile with LTO.
# CI uses this profile. To run it locally, add `--profile=release-lto` to `cargo build` or `cargo
# test`.
[profile.release-lto]
inherits = "release"
# Enable "thin" LTO to optimize performance.
lto = "thin"

## LTO doesn't work with careful
## explicitly specifying features in case releases features change
[profile.careful]
debug = 1
inherits = "release"
lto = "off"
incremental = true

### Workspace

# The hotshot-types crate needs to be a seperate crate, as to not create a circular dependency
# when implementing traits externally
[workspace]
members = [
        "consensus",
        "libp2p-networking",
        "testing",
        "types",
        "utils",
        # "testing-macros",
        "task",
        "task-impls",
        "crates/hotshot-qc",
        "crates/hotshot-signature-key",
        "crates/hotshot-stake-table",
]

[workspace.dependencies]
ark-bls12-381 = "0.4"
ark-ec = "0.4"
ark-serialize = "0.4" # features = ["derive"]
ark-std = { version = "0.4", default-features = false }
async-compatibility-layer = { git = "https://github.com/EspressoSystems/async-compatibility-layer.git", tag = "1.3.0", default-features = false, features = [
        "logging-utils",
] }
async-lock = "2.8"
async-trait = "0.1.73"
bincode = "1.3.3"
bitvec = { version = "1.0.1", default-features = false, features = [
        "alloc",
        "atomic",
        "serde",
] }
blake3 = "1.4"
commit = { git = "https://github.com/EspressoSystems/commit", tag = "0.2.2" }
custom_debug = "0.5"
digest = "0.10"
either = { version = "1.8" }
espresso-systems-common = { git = "https://github.com/espressosystems/espresso-systems-common", tag = "0.4.1" }
ethereum-types = { version = "0.14.1", features = ["impl-serde"] }
futures = "0.3.28"
jf-primitives = { git = "https://github.com/EspressoSystems/jellyfish" }
jf-relation = { git = "https://github.com/EspressoSystems/jellyfish" }
jf-utils = { git = "https://github.com/espressosystems/jellyfish" }
libp2p = { version = "0.52.3", default-features = false }
libp2p-identity = "0.2"
libp2p-networking = { path = "./libp2p-networking", version = "0.1.0", default-features = false }
libp2p-swarm-derive = { version = "=0.33.0" }
nll = { git = "https://github.com/EspressoSystems/nll.git" }
rand = "0.8.5"
rand_chacha = { version = "0.3.1", default-features = false }
serde = { version = "1.0.186", features = ["derive"] }
snafu = "0.7.5"
surf-disco = { git = "https://github.com/EspressoSystems/surf-disco.git", tag = "v0.4.2" }
time = "0.3.27"
toml = "0.7.6"
tracing = "0.1.37"
typenum = "1.16.0"
