[package]
authors = ["Nathan McCarty <nathan.mccarty@translucence.net>"]
description = "PhaseLock consesus module"
edition = "2018"
name = "phaselock"
readme = "README.md"
version = "0.0.1-dev"

[features]
default = ["demo"]
demo = ["blake3"]
test_crypto = ["threshold_crypto/use-insecure-test-only-mock-crypto"]

[[example]]
name = "dentry-simulator"
required-features = ["demo"]

[dependencies]
async-std = { version = "1.9.0", features = ["unstable"] }
async-tungstenite = { version = "0.14.0", features = ["async-std-runtime"] }
bincode = "1.3.2"
blake3 = { version = "0.3.8", optional = true }
byteorder = "1.4.3"
dashmap = "4.0.2"
flume = "0.10.5"
futures = "0.3.0"
hex_fmt = "0.3.0"
rand = "0.7.3"
serde = { version = "1.0.123", features = ["derive", "rc"] }
snafu = { version = "0.6.10", features = ["backtraces"] }
threshold_crypto = "0.4.0"
tokio = { version = "1.8.1", features = ["sync"], default-features = false }
tracing = "0.1.26"
tracing-error = "0.1.2"
tracing-futures = "0.2.5"
tracing-unwrap = "0.9.2"

[dev-dependencies]
async-std = { version = "1.9.0", features = ["attributes"] }
rand_xoshiro = "0.4.0"
structopt = "0.3.12"
toml = "0.4.2"
tracing-subscriber = "0.2.18"

### Profiles
###
### Note: these only apply to example executables or tests built from within this crate. They have
### no effect on crates that depend on this crate.

## Apply some optimizations to test dependencies in debug/test builds

# Generally optimize dependencies a little
[profile.dev.package."*"]
opt-level = 1

# Optimize tc a lot
[profile.dev.package.threshold_crypto]
opt-level = 3

## Enable LTO for release profile
[profile.release]
lto = "thin"
