[package]
name = "hotstuff"
version = "0.0.0"
authors = ["Nathan McCarty <nathan.mccarty@translucence.net>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-lock = "2.4.0"
async-std = { version = "1.9.0", features = ["unstable"] }
async-tls = "0.11.0"
async-tungstenite = { version = "0.13.0", features = ["async-tls", "async-std-runtime"] }
bincode = "1.3.2"
blake3 = "0.3.8"
byteorder = "1.4.3"
dashmap = "4.0.2"
futures = "0.3.0"
futures-channel = "0.3.13"
futures-lite = "1.11.3"
futures-locks = "0.6.0"
futures-sink = "0.3.15"
futures-util = "0.3.15"
parking_lot = { version = "0.11.1", features = ["serde"] }
rand = "0.7.3"
serde = { version = "1.0.123", features = ["derive", "rc"] }
snafu = { version = "0.6.10", features = ["backtraces"] }
threshold_crypto = "0.4.0"

[dev-dependencies]
async-std = { version = "1.9.0", features = ["attributes"] }
