# Default owners and repository maintainers: 
* @elliedavidson @bfish713

# Owner of `constants` crate
/constants/ @shenkeyao

# Owner of `hotshot` crate
/hotshot/ @shenkeyao

# Owner of `hotshot-qc` crate
/hotshot-qc/ @dailinsubjam

# Owner of `hotshot-stake-table` crate
/hotshot-stake-table/ @dailinsubjam

# Owner of `hotshot-state-prover` crate
/hotshot-state-prover/ @dailinsubjam

# Owner of `libp2p-networking` crate
/libp2p-networking/ @rob-maron @DieracDelta 

# Owner of `orchestrator` crate
/orchestrator/ @rob-maron @elliedavidson 

# Owner of `task` crate
/task/ @rob-maron @DieracDelta 

# Owner of `task-impls` crate
/task-impls/ @elliedavidson @bfish713

# Owner of `testing` crate
/testing/ @DieracDelta @bfish713

# Owner of `types` crate
/types/ @shenkeyao

# Owner of `utils` crate
/utils/ @shenkeyao

# Owner of `web_server` crate
/web_server/ @elliedavidson

# Owner of updating dependencies
# This owner is updated on a monthly basis
*.lock @ss-es
**/Cargo.toml @ss-es
Cargo.toml @ss-es
flake.nix @ss-es
