[package]
authors = { workspace = true }
description = "HotShot consesus module"
edition = { workspace = true }
name = "hotshot"
readme = "README.md"
version = { workspace = true }
rust-version = { workspace = true }

[features]
default = ["docs", "doc-images"]
gpu-vid = ["hotshot-task-impls/gpu-vid"]

# Features required for binaries
bin-orchestrator = ["clap"]

# Build the extended documentation
docs = []
doc-images = []
hotshot-testing = []
randomized-leader-election = []

[dependencies]
anyhow = { workspace = true }
async-broadcast = { workspace = true }
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
async-trait = { workspace = true }
bimap = "0.6"
bincode = { workspace = true }
clap = { workspace = true, optional = true }
commit = { workspace = true }
custom_debug = { workspace = true }
dashmap = "5"
derive_more = "0.99"
either = { workspace = true }
ethereum-types = { workspace = true }
futures = { workspace = true }
hotshot-task = { path = "../task" }
hotshot-task-impls = { path = "../task-impls", version = "0.5.26", default-features = false }
hotshot-types = { path = "../types" }
hotshot-web-server = { version = "0.5.26", path = "../web_server", default-features = false }
libp2p-identity = { workspace = true }
libp2p-networking = { workspace = true }
lru = "0.12"
portpicker = "0.1"
rand = { workspace = true }
serde = { workspace = true, features = ["rc"] }
snafu = { workspace = true }
surf-disco = { workspace = true }
time = { workspace = true }
tracing = { workspace = true }
versioned-binary-serialization = { workspace = true }
jf-primitives.workspace = true
hotshot-orchestrator = { path = "../orchestrator" }
blake3.workspace = true

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
cdn-client = { workspace = true, features = ["runtime-tokio"] }
cdn-broker = { workspace = true, features = [
  "runtime-tokio",
  "strong_consistency",
] }
cdn-marshal = { workspace = true, features = ["runtime-tokio"] }

[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }
cdn-client = { workspace = true, features = ["runtime-async-std"] }
cdn-broker = { workspace = true, features = [
  "runtime-async-std",
  "strong_consistency",
] }
cdn-marshal = { workspace = true, features = ["runtime-async-std"] }


[dev-dependencies]
blake3 = { workspace = true }
clap.workspace = true
toml = { workspace = true }

[lints]
workspace = true
