[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
description = "HotShot consesus module"
edition = "2021"
name = "hotshot"
readme = "README.md"
version = "0.3.3"
rust-version = "1.65.0"

[features]
default = ["docs", "doc-images"]

# Features required for binaries
bin-orchestrator = ["clap"]

# Build the extended documentation
docs = []
doc-images = []
hotshot-testing = []
randomized-leader-election = []

[dependencies]
async-broadcast = { workspace = true }
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
async-trait = { workspace = true }
bimap = "0.6.3"
bincode = { workspace = true }
clap = { version = "4.5", features = ["derive", "env"], optional = true }
commit = { workspace = true }
custom_debug = { workspace = true }
dashmap = "5.5.1"
derive_more = "0.99.17"
either = { workspace = true }
embed-doc-image = "0.1.4"
ethereum-types = { workspace = true }
futures = { workspace = true }
hotshot-web-server = { version = "0.1.1", path = "../web_server", default-features = false }
hotshot-orchestrator = { version = "0.1.1", path = "../orchestrator", default-features = false }
hotshot-types = { workspace = true }
hotshot-task = { path = "../task" }
hotshot-utils = { path = "../utils" }
hotshot-task-impls = { path = "../task-impls", version = "0.1.0", default-features = false }
libp2p-identity = { workspace = true }
libp2p-networking = { workspace = true }
lru = "0.12.3"
portpicker = "0.1.1"
rand = { workspace = true }
serde = { workspace = true, features = ["rc"] }
snafu = { workspace = true }
surf-disco = { workspace = true }
time = { workspace = true }
tracing = { workspace = true }
anyhow = "1.0.79"

# Push CDN imports
cdn-client.workspace = true
cdn-broker.workspace = true
cdn-marshal.workspace = true

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }

[dev-dependencies]
blake3 = { workspace = true }
clap = { version = "4.5", features = ["derive", "env"] }
local-ip-address = "0.6.1"
toml = { workspace = true }

[lints]
workspace = true
