[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
description = "HotShot consesus module"
edition = "2021"
name = "hotshot"
readme = "README.md"
version = "0.3.3"
rust-version = "1.65.0"

[features]
default = ["demo", "docs", "doc-images"]

# Enable demo/testing logic
demo = [
        "hotshot-types/demo",
        "libp2p/rsa",
        "dep:derivative",
]

# Features required for binaries
bin-orchestrator = ["clap"]

# Build the extended documentation
docs = []
doc-images = []
hotshot-testing = []

# libp2p
[[example]]
name = "validator-libp2p"
features = ["demo", "libp2p/rsa"]
excluded-features = ["hotshot-testing"]
path = "examples/libp2p/validator.rs"

# [[example]]
# name = "multi-validator-libp2p"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/libp2p/multi-validator.rs"
#
# [[example]]
# name = "orchestrator-libp2p"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/libp2p/orchestrator.rs"
#
# [[example]]
# name = "all-libp2p"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/libp2p/all.rs"
#
# # webserver
# [[example]]
# name = "webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/webserver.rs"
#
# [[example]]
# name = "orchestrator-webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/orchestrator.rs"
#
# [[example]]
# name = "validator-webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/validator.rs"
#
# [[example]]
# name = "multi-validator-webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/multi-validator.rs"
#
# [[example]]
# name = "multi-webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/multi-webserver.rs"
#
# [[example]]
# name = "all-webserver"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/webserver/all.rs"
#
# # combined
# [[example]]
# name = "all-combined"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/combined/all.rs"
#
# [[example]]
# name = "multi-validator-combined"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/combined/multi-validator.rs"
#
# [[example]]
# name = "validator-combined"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/combined/validator.rs"
#
# [[example]]
# name = "orchestrator-combined"
# required-features = ["demo", "libp2p/rsa"]
# path = "examples/combined/orchestrator.rs"

[dependencies]
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
async-trait = { workspace = true }
bimap = "0.6.3"
bincode = { workspace = true }
bitvec = { workspace = true }
clap = { version = "4.4", features = ["derive", "env"], optional = true }
commit = { workspace = true }
hotshot-constants = { path = "../constants" }
custom_debug = { workspace = true }
dashmap = "5.5.1"
derivative = { version = "2.2.0", optional = true }
either = { workspace = true }
embed-doc-image = "0.1.4"
espresso-systems-common = { workspace = true }
ethereum-types = { workspace = true }
futures = { workspace = true }
hotshot-web-server = { version = "0.1.1", path = "../web_server", default-features = false }
hotshot-orchestrator = { version = "0.1.1", path = "../orchestrator", default-features = false }
hotshot-signature-key = { path = "../hotshot-signature-key" }
hotshot-types = { path = "../types", version = "0.1.0", default-features = false }
hotshot-utils = { path = "../utils" }
hotshot-task = { path = "../task", version = "0.1.0", default-features = false }
hotshot-task-impls = { path = "../task-impls", version = "0.1.0", default-features = false }
jf-primitives = { workspace = true }
libp2p = { workspace = true }
libp2p-identity = { workspace = true }
libp2p-networking = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
serde = { workspace = true, features = ["rc"] }
snafu = { workspace = true }
surf-disco = { workspace = true }
time = { workspace = true }
local-ip-address = "0.5.6"
dyn-clone = { git = "https://github.com/dtolnay/dyn-clone", tag = "1.0.16" }

tracing = { workspace = true }
typenum = { workspace = true }
[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }

[dev-dependencies]
blake3 = { workspace = true }
clap = { version = "4.4", features = ["derive", "env"] }
serde_json = "1.0.108"
toml = { workspace = true }