[package]
authors = ["Nathan McCarty <nathan.mccarty@translucence.net>"]
description = "Types and traits for the HotShot consesus module"
edition = "2021"
name = "hotshot-types"
readme = "../README.md"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]

default = ["demo"]
full-ci = ["demo", "async-std-executor"]
tokio-ci = ["demo", "tokio-executor"]
profiling = ["hotshot-utils/profiling"]
async-std-executor = [
    "dep:async-std",
    "async-tungstenite/async-std-runtime",
    "hotshot-utils/async-std-executor",
]
tokio-executor = [
    "dep:tokio",
    "async-tungstenite/tokio-runtime",
    "hotshot-utils/tokio-executor",
]
demo = ["ed25519-compact"]
channel-flume = ["hotshot-utils/channel-flume"]
channel-tokio = ["hotshot-utils/channel-tokio"]
channel-async-std = ["hotshot-utils/channel-async-std"]

[dependencies]

arbitrary = { version = "1.1", features = ["derive"] }
async-std = { version = "1.12.0", optional = true, features = ["unstable"] }
async-trait = "0.1.57"
async-tungstenite = "0.17.2"
atomic_store = { git = "https://github.com/EspressoSystems/atomicstore", tag = "0.1.3" }
bincode = "1.3.3"
blake3 = "1.3.1"
cfg-if = "1"
commit = { git = "https://github.com/EspressoSystems/commit", tag = "0.2.0" }
custom_debug = "0.5"
derivative = "2.2.0"
ed25519-compact = { version = "1.0.15", optional = true }
espresso-systems-common = { git = "https://github.com/espressosystems/espresso-systems-common", tag = "0.2.0" }
futures = "0.3.24"
hex_fmt = "0.3.0"
hotshot-utils = { path = "../utils", default-features = false, features = [
    "logging-utils",
] }
rand = "0.8.5"
serde = { version = "1.0.145", features = ["derive"] }
serde_bytes = "0.11.7"
snafu = "0.7.2"
tagged-base64 = { git = "https://github.com/EspressoSystems/tagged-base64", tag = "0.2.0" }
time = "0.3.14"
tokio = { version = "1", optional = true, features = [
    "fs",
    "io-util",
    "io-std",
    "macros",
    "net",
    "parking_lot",
    "process",
    "rt",
    "rt-multi-thread",
    "signal",
    "sync",
    "time",
    "tracing",
] }
tracing = "0.1.36"

[dev-dependencies]
serde_json = "1.0.85"
