[package]
name = "hotshot-centralized-server"
version = "0.1.1"
edition = "2021"

[dependencies]
async-std = "1.12.0"
bincode = "1.3.3"
hotshot-types = { version = "0.1.0", path = "../types" }
serde = { version = "1.0.143", features = ["derive"] }
snafu = "0.7.1"
flume = "0.10.14"
futures = "0.3.24"
hotshot-utils = { path = "../utils" }
commit = { git = "https://github.com/EspressoSystems/commit", tag = "0.1.0" }
tracing = "0.1.36"
toml = "0.5.9"
libp2p-core = { version = "0.36.0", default-features = false }
