[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
description = "Types and traits for the HotShot consesus module"
edition = "2021"
name = "hotshot-types"
readme = "../README.md"
version = "0.1.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-bls12-381 = { workspace = true }
ark-ed-on-bn254 = { workspace = true }
ark-ff = { workspace = true }
ark-serialize = { workspace = true, features = ["derive"] }
ark-std = { workspace = true }
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true }
bitvec = { workspace = true }
blake3 = { workspace = true }
commit = { workspace = true }
custom_debug = { workspace = true }
derivative = "2.2.0"
digest = { workspace = true }
displaydoc = { version = "0.2.3", default-features = false }
dyn-clone = { git = "https://github.com/dtolnay/dyn-clone", tag = "1.0.16" }
either = { workspace = true, features = ["serde"] }
espresso-systems-common = { workspace = true }
ethereum-types = { workspace = true }
generic-array = { workspace = true }
hotshot-constants = { path = "../constants" }
hotshot-utils = { path = "../utils" }
jf-plonk = { workspace = true }
jf-primitives = { workspace = true, features = ["test-srs"] }
jf-utils = { workspace = true }
libp2p-networking = { workspace = true }
rand = { workspace = true }
rand_chacha = { workspace = true }
serde = { workspace = true }
sha2 = { workspace = true }
snafu = { workspace = true }
tagged-base64 = { workspace = true }
time = { workspace = true }
tracing = { workspace = true }
typenum = { workspace = true }

[dev-dependencies]
serde_json = "1.0.114"

[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }
client = { path = "../../../cdn2/client", default-features = false, features = [
    "insecure",
    "runtime-async-std",
] }

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
client = { path = "../../../cdn2/client" }


[lints]
workspace = true
