{
    "rust-analyzer.server.extraEnv": {
        "RUSTFLAGS": "--cfg async_executor_impl=\"async-std\" --cfg async_channel_impl=\"async-std\" --cfg hotshot_example",
        "CARGO_TARGET_DIR": "vsc/target"
    },
}