[package]
name = "hotshot-orchestrator"
version = "0.1.1"
edition = "2021"

[dependencies]
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
clap = { version = "4.0", features = ["derive", "env"], optional = false }
futures = { workspace = true }
libp2p = { workspace = true }
blake3 = { workspace = true }
hotshot-types = { version = "0.1.0", path = "../types", default-features = false }
hotshot-utils = { path = "../utils" }
tide-disco = { workspace = true }
surf-disco = { workspace = true }
tracing = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
toml = { workspace = true }
thiserror = "1.0.50"
serde-inline-default = "0.1.1"

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }

[lints]
workspace = true
