[package]
name = "hotshot-orchestrator"
version = { workspace = true }
edition = { workspace = true }

[dependencies]
anyhow = { workspace = true }
async-lock = { workspace = true }
blake3 = { workspace = true }
clap = { workspace = true }
csv = "1"
futures = { workspace = true }
hotshot-types = { path = "../types" }
libp2p-identity = { workspace = true }
multiaddr = { workspace = true }
serde = { workspace = true }
surf-disco = { workspace = true }
tide-disco = { workspace = true }
tokio = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
vbs = { workspace = true }
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[lints]
workspace = true
