[package]
authors = ["Espresso Systems <hello@espressosys.com>"]
name = "hotshot-task"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

futures = "0.3.30"
async-broadcast = "0.7.0"
async-trait = { workspace = true }
tracing = { workspace = true }
async-compatibility-layer = { workspace = true }

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace= true, features = ["time", "rt-multi-thread", "macros", "sync"] }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace= true,  features = ["attributes"] }

[lints]
workspace = true
