[package]
authors = { workspace = true }
name = "hotshot-task"
version = { workspace = true }
edition = { workspace = true }

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

futures = { workspace = true }
async-broadcast = { workspace = true }
tracing = { workspace = true }
async-compatibility-layer = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true, features = [
    "time",
    "rt-multi-thread",
    "macros",
    "sync",
] }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true, features = ["attributes"] }

[lints]
workspace = true
