[meta]
NAME = "hotshot_web_server"
DESCRIPTION = "Web server for HotShot"
FORMAT_VERSION = "0.1.0"

# GET the proposal for a view, where the view is passed as an argument
[route.getproposal]
PATH = ["proposal/:view_number"]
":view_number" = "Integer"
DOC = """
Return the proposal for a given view number
"""

# GET an upgrade proposal for a view, where the view is passed as an argument
[route.get_upgrade_proposal]
PATH = ["upgrade_proposal/:view_number"]
":view_number" = "Integer"
DOC = """
Return the upgrade proposal for a given view number
"""

# POST a VID disperse, where the view is passed as an argument
[route.getviddisperse]
PATH = ["vid_disperse/:view_number"]
":view_number" = "Integer"
DOC = """
Return the VID disperse data for a given view number
"""

# GET the latest quorum proposal
[route.get_latest_proposal]
PATH = ["proposal/latest"]
DOC = """
Return the proposal for the most recent view the server has
"""

# GET the latest quorum proposal
[route.get_latest_view_sync_certificate]
PATH = ["view_sync_certificate/latest"]
DOC = """
Return the proposal for the most recent view the server has
"""

# POST a proposal, where the view is passed as an argument
[route.postproposal]
PATH = ["proposal/:view_number"]
METHOD = "POST"
":view_number" = "Integer"
DOC = """
Post the proposal for a given view_number
"""

# POST an upgrade proposal, where the view is passed as an argument
[route.post_upgrade_proposal]
PATH = ["upgrade_proposal/:view_number"]
METHOD = "POST"
":view_number" = "Integer"
DOC = """
Post the upgrade proposal for a given view_number
"""

# POST a VID disperse, where the view is passed as an argument
[route.postviddisperse]
PATH = ["vid_disperse/:view_number"]
METHOD = "POST"
":view_number" = "Integer"
DOC = """
Post the VID disperse data for a given view number
"""

# GET the DA certificate for a view, where the view is passed as an argument
[route.getcertificate]
PATH = ["certificate/:view_number"]
":view_number" = "Integer"
DOC = """
Return the DA certificate for a given view number
"""


# POST a DA certificate, where the view is passed as an argument
[route.postcertificate]
PATH = ["certificate/:view_number"]
METHOD = "POST"
":view_number" = "Integer"
DOC = """
Post the DA certificate for a given view_number
"""


# GET all the votes from a given index for a given view number
[route.getvotes]
PATH = ["votes/:view_number/:index"]
":view_number" = "Integer"
":index" = "Integer"
METHOD = "GET"
DOC = """
Get all votes for a view number
"""

# GET all the upgrade votes from a given index for a given view number
[route.get_upgrade_votes]
PATH = ["upgrade_votes/:view_number/:index"]
":view_number" = "Integer"
":index" = "Integer"
METHOD = "GET"
DOC = """
Get all upgrade votes for a view number
"""


# POST a vote, where the view number is passed as an argument
[route.postvote]
PATH = ["votes/:view_number"]
":view_number" = "Integer"
METHOD = "POST"
DOC = """
Send a vote
"""

# POST an upgrade vote, where the view number is passed as an argument
[route.post_upgrade_vote]
PATH = ["upgrade_votes/:view_number"]
":view_number" = "Integer"
METHOD = "POST"
DOC = """
Send an upgrade vote
"""


# GET all transactions starting at :index
[route.gettransactions]
PATH = ["transactions/:index"]
":index" = "Integer"
METHOD = "GET"
DOC = """
Get all transactions since given index
"""


# POST a transaction
[route.posttransaction]
PATH = ["transactions"]
METHOD = "POST"
DOC = """
Post a transaction to the web server
"""

# POST a transaction removal
[route.postcompletedtransaction]
PATH = ["transactionscomplet"]
METHOD = "POST"
DOC = """
Post a transaction removal to the web server
"""

# POST stake table
[route.poststaketable]
PATH = ["staketable"]
METHOD = "POST"
DOC = """
Post the stake table to the web server
"""

# POST secret proposal
[route.secret]
PATH = ["secret/:view_number/:secret"]
METHOD = "POST"
":view_number" = "Integer"
":secret" = "Literal"
DOC = """
Secret path for leader to post proposal for a given view
"""

# POST a view sync vote, where the view number is passed as an argument
[route.postviewsyncvote]
PATH = ["view_sync_vote/:view_number"]
":view_number" = "Integer"
METHOD = "POST"
DOC = """
Send a view sync vote
"""

# GET a view sync vote, where the view number is passed as an argument
[route.getviewsyncvotes]
PATH = ["view_sync_vote/:view_number/:index"]
":view_number" = "Integer"
":index" = "Integer"
METHOD = "GET"
DOC = """
GET a view sync vote
"""

# POST a view sync proposal, where the view number is passed as an argument
[route.postviewsynccertificate]
PATH = ["view_sync_certificate/:view_number"]
":view_number" = "Integer"
METHOD = "POST"
DOC = """
Send a view sync vote
"""

# GET a view sync certificate, where the view number is passed as an argument
[route.getviewsynccertificate]
PATH = ["view_sync_certificate/:view_number/:index"]
":view_number" = "Integer"
":index" = "Integer"
METHOD = "GET"
DOC = """
GET a view sync proposal
"""
