[package]
name = "hotshot-web-server"
description = "HotShot web server"
version = { workspace = true }
readme = "README.md"
edition = { workspace = true }

[dependencies]
async-compatibility-layer = { workspace = true }
async-lock = { workspace = true }
clap = { version = "4.0", features = ["derive", "env"], optional = false }
futures = { workspace = true }
hotshot-types = { path = "../types", default-features = false }
tide-disco = { workspace = true }
tracing = { workspace = true }
rand = { workspace = true }
toml = { workspace = true }

[dev-dependencies]
hotshot-types = { path = "../types", default-features = false }

[target.'cfg(all(async_executor_impl = "tokio"))'.dependencies]
tokio = { workspace = true }
[target.'cfg(all(async_executor_impl = "async-std"))'.dependencies]
async-std = { workspace = true }

[lints]
workspace = true
