[package]
name = "hotshot-testing"
version = { workspace = true }
edition = { workspace = true }
description = "Types and traits for the HotShot consesus module"
authors = { workspace = true }

[features]
default = []
# NOTE this is used to activate the slow tests we don't wish to run in CI
slow-tests = []
rewind = ["hotshot/rewind"]
broken_3_chain_fixed = []

[dependencies]
anyhow = { workspace = true }
async-broadcast = { workspace = true }
async-lock = { workspace = true }
async-trait = { workspace = true }
automod = "1.0.14"
bitvec = { workspace = true }
committable = { workspace = true }
either = { workspace = true }
futures = { workspace = true }
hotshot = { path = "../hotshot", features = ["hotshot-testing"] }
hotshot-builder-api = { path = "../builder-api" }
hotshot-example-types = { path = "../example-types" }
hotshot-fakeapi = { path = "../fakeapi" }
hotshot-macros = { path = "../macros" }
hotshot-task = { path = "../task" }
hotshot-task-impls = { path = "../task-impls", version = "0.5.36", default-features = false }
hotshot-types = { path = "../types" }
itertools = "0.14.0"
jf-vid = { workspace = true }
lru = { workspace = true }
portpicker = { workspace = true }
primitive-types = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
sha2 = { workspace = true }
tagged-base64 = { workspace = true }
thiserror = { workspace = true }
tide-disco = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
utils = { path = "../utils" }
vbs = { workspace = true }
vec1 = { workspace = true }
workspace-hack = { version = "0.1", path = "../workspace-hack" }
