name: Run Cargo Audit

on:
  schedule:
    - cron: '0 0 * * 1' # Run on Mondays
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Audit Dependencies
        run: cargo audit