name: Build and Test Workflow

on:
  push:
    branches:
      - '*/*'
      - 'main'
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        name: Checkout Repository

      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf git://github.com/
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf ssh://git@github.com/

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: default
          toolchain: stable
          override: true
          default: true

      - uses: Swatinem/rust-cache@v1
        name: Enable Rust Caching
        with:
          sharedKey: HotShot163

      - name: Audit
        # TODO remove when ansiterm cve fixed
        run: cargo audit --deny warnings  --ignore RUSTSEC-2021-0139

      - name: Check
        run: cargo check

      - name: Build all crates in workspace
        run: cargo build --verbose --workspace --all-targets --all-features --release

      - name: Unit and integration tests for all crates in workspace
        run: |
          cargo test --verbose --release --lib --bins --tests --benches --all-features --workspace --no-fail-fast -- --test-threads=1
        timeout-minutes: 30
        env:
          RUST_BACKTRACE: full

      # - name: Stress tests for all crates in workspace
      #   run: |
      #     ulimit -n 16384
      #     cargo test --verbose --release --workspace --all-features --no-fail-fast -- test_stress --test-threads=1 --ignored
      #   timeout-minutes: 30
      #   env:
      #     RUST_BACKTRACE: 1

      - name: Setup Docker BuildKit (buildx)
        uses: docker/setup-buildx-action@v2

      - name: Login to Github Container Repo
        uses: docker/login-action@v2
        if: github.event_name != 'pull_request'
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate docker metadata
        uses: docker/metadata-action@v4
        id: multi-machine-libp2p
        with:
          images: ghcr.io/espressosystems/hotshot/multi-machine-libp2p

      - name: Build and push multi-machine-libp2p docker
        uses: docker/build-push-action@v3
        with:
          context: ./
          file: ./deploy/Dockerfile
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.multi-machine-libp2p.outputs.tags }}
          labels: ${{ steps.multi-machine-libp2p.outputs.labels }}
