name: Build, Lint, and Test

on:
  push:
    branches:
      - 'develop'
      - 'main'
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        just_variants:
          - async_std
          - tokio
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.12.0
        name: Cancel Outdated Builds
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4
        name: Checkout Repository

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching
        with:
          shared-key: ""
          prefix-key: ${{ matrix.just_variants }}

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler

      - name: Install Just
        run: |
          wget https://github.com/casey/just/releases/download/1.14.0/just-1.14.0-x86_64-unknown-linux-musl.tar.gz
          tar -vxf just-1.14.0-x86_64-unknown-linux-musl.tar.gz just
          sudo cp just /usr/bin/just

      - name: Run linting
        run: |
          just ${{ matrix.just_variants }} lint

      - name: Build all crates in workspace
        run: just ${{ matrix.just_variants }} build

      - name: Unit and integration tests for all crates in workspace
        run: |
          just ${{ matrix.just_variants }} test
        timeout-minutes: 60
        env:
          RUST_BACKTRACE: full

      - name: Upload Binaries
        uses: actions/upload-artifact@v3
        with:
          name: binaries-${{ matrix.just_variants }}
          path: |
            target/debug/examples/counter
            target/debug/examples/libp2p-multi-validator
            target/debug/examples/libp2p-orchestrator
            target/debug/examples/libp2p-validator
            target/debug/examples/multi-validator
            target/debug/examples/multi-web-server
            target/debug/examples/web-server
            target/debug/examples/web-server-da-orchestrator
            target/debug/examples/web-server-da-validator
