name: Nix

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v16

      - name: Configure Git
        run: |
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PATH }}@github.com/".insteadOf git://github.com/
          git config --global url."https://ancient123:${{ secrets.ORG_GITHUB_PAT }}@github.com/".insteadOf ssh://git@github.com/


      - name: Checkout Repository
        uses: actions/checkout@v3

      # sanity check that repository builds with nix
      - name: Build
        run: |
          nix develop -c cargo build --all-targets --release --workspace --all-features
