name: Careful Workflow

on:
  schedule:
    # run at midnight on monday
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  careful:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v21

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Run careful tests
        run: |
          nix develop .#correctnessShell -c just careful
        timeout-minutes: 90
