name: Careful Workflow

on:
  schedule:
    # run at midnight on monday
    - cron: '0 0 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  careful:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v24

      - name: Nix Caching
        uses: cachix/cachix-action@v12
        with:
          name: espresso-systems-private
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: ${{ github.actor == 'dependabot[bot]' }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Run careful tests
        run: |
          nix develop .#correctnessShell -c just tokio careful
        timeout-minutes: 90
