name: Code Coverage Workflow

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@v24

      - name: Nix Caching
        uses: cachix/cachix-action@v13
        with:
          name: espresso-systems-private
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: ${{ github.actor == 'dependabot[bot]' }}

      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Generate coverage reports
        # Use the `release` profile rather than `release-lto` as other workflows do, since `--
        # profile=release-lto` will cause the `failed to generate report` error.
        run: |
          nix develop .#perfShell -c RUSTFLAGS='--cfg async_executor_impl="tokio" --cfg async_channel_impl="tokio"' cargo-llvm-cov llvm-cov --features=full-ci --lib --bins --tests --benches --release --workspace --lcov --output-path lcov.info -- --test-threads=1
        timeout-minutes: 90

      - name: Coveralls upload
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
