name: Lints Workflow

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
      - '*/*'
  workflow_dispatch:

jobs:
  lints:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    steps:
      - uses: styfle/cancel-workflow-action@0.11.0
        name: Cancel Outdated Builds
        with:
          all_but_latest: true
          access_token: ${{ github.token }}

      - name: Install Nix
        uses: cachix/install-nix-action@v22

      - uses: actions/checkout@v3
        name: Checkout Repository

      - name: Format Check
        run: cargo fmt -- --check

      - name: Clippy
        run: |
          just async_std lint
          just tokio lint
