name: Lint

on:
  push:
    branches:
      - 'develop'
      - 'main'
  pull_request:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ (github.ref == 'refs/heads/main' && github.run_number) || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    strategy:
      matrix:
        just_variants:
          - async-std
          - tokio
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        name: Checkout Repository

      - run: rustup toolchain install stable --profile minimal

      - uses: Swatinem/rust-cache@v2
        name: Enable Rust Caching
        with:
          shared-key: "build-and-test"
          cache-on-failure: "true"
          save-if: ${{ github.ref == 'refs/heads/main' }}

      - name: Install Just
        run: |
          wget https://github.com/casey/just/releases/download/1.14.0/just-1.14.0-x86_64-unknown-linux-musl.tar.gz
          tar -vxf just-1.14.0-x86_64-unknown-linux-musl.tar.gz just
          sudo cp just /usr/bin/just

      - name: Run linting
        run: |
          just ${{ matrix.just_variants }} lint
